.c-ontent {
  padding: 0 80px;
  /* margin-inline: auto; */
}

@media screen and (max-width: 599px) {
  .c-ontent {
    padding: 0 16px;
  }
}

.green-icon {
  filter: invert(33%) sepia(87%) saturate(438%) hue-rotate(95deg)
    brightness(95%) contrast(90%);
}
/* section */
.c-divider {
  border: none;
  border-top: 2px solid #074d31;
  margin: 0;
  width: 100%;
}
.feedback-section {
  display: flex;
  flex-direction: column;
  gap: 32px; /* gap-8 */
  padding-top: 24px !important; /* !py-[24px] */
  padding-bottom: 24px !important;
}

/* main row */
.feedback-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px; /* max-md:gap-4 */
}

/* left group */
.feedback-left {
  display: flex;
  flex-direction: column;
  gap: 16px; /* gap-4 */
}

.feedback-question {
  color: #161616;
}

/* buttons wrapper */
.feedback-actions {
  display: flex;
  gap: 16px; /* gap-4 */
}

/* stats text */
.feedback-stats {
  color: #161616;
  text-align: end;
}

.invalid-feedback {
  width: 100% !important;
  font-size: 14px !important;
  color: #b42318 !important;
}

/* Tablet/Desktop (md: >= 768px) */
@media (min-width: 768px) {
  .feedback-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0; /* removes mobile gap */
  }

  .feedback-left {
    flex-direction: row;
    align-items: center;
    gap: 24px; /* md:gap-6 */
  }
}

.footer {
  /* background-image: url("../../wassets/imges/pattern footer.svg"); */
  background-color: #074d31;
  width: 100%;
  height: 86.41px;
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
}

.footer-container {
  gap: 48px;
  display: grid;
  padding-top: 40px;
  padding-bottom: 24px;
}

.footer-item {
  gap: 8px;
}
.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer-title {
  color: #fff !important;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.line-title {
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.border-green {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

a.border-green:hover {
  background-color: #39715a;
}
a.border-green:focus {
  background-color: #6a9483;
}
.pt-4 {
  padding-top: 16px;
}
.pb-10 {
  padding-bottom: 40px;
}

.footer-contnet {
  gap: 8px;
  padding-top: 8px;
  display: grid; /* makes links stack vertically */
}
.footer__nav-links ul a {
  font-weight: 400 !important;
  font-size: var(--typo-size-text-sm) !important;
  line-height: var(--line-heights-text-sm) !important;
  letter-spacing: 0 !important;
  text-align: right !important;
}

.footer-link {
  font-size: 14px;
  font-family: "IBMPlexSansArabic", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: underline;
}

.footer-link:active {
  color: #ffffff;
  opacity: 0.6;
}
.footer-link:focus {
  border: 2px solid #fff;
  color: #ffffff;

  opacity: 1;

  border-radius: 4px; /* Optional: rounded corners */
}

.text-center-mobile {
  text-align: center;
}

@media (min-width: 768px) {
  .text-center-mobile {
    text-align: right;
  }
}

.footer_logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

/* @media (min-width: 768px) {
  .footer_logos {
    flex-direction: row;
  }
} */

.footer-bottom {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 16px;
  gap: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-bottom {
    grid-template-columns: 3fr 1fr;
    text-align: right;
  }
}

.footer-bottom-content {
  display: grid;
  gap: 24px;
}

.footer-legal-links {
  display: flex;
  gap: 16px;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-legal-links {
    justify-content: flex-start;
  }
}

.footer-copyright {
  display: grid;
  gap: 8px;
}

.footer-copyright-text {
  font-weight: 700;
  pointer-events: none;
}
