.hero {
  display: flex;
  padding: var(--Global-spacing-5xl, 40px) var(--Global-spacing-8xl, 80px);
  justify-content: center;
  align-items: center;
  gap: var(--Global-spacing-4xl, 32px);
  align-self: stretch;
  background: #f7fdf9;
}

.inner {
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; RTL */
  gap: 12px;
}

.title {
  margin: 0;

  color: var(--Text-text-default, #161616);
  /* text-align: right; */

  font-family: var(--Font-Family-font-family-display, "IBMPlexSansArabic");
  font-size: var(--Size-Display-typo-size-display-md, 36px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-Height-Display-line-heights-display-md, 44px);
  letter-spacing: -0.72px;
}

.desc {
  margin: 0;
  max-width: 860px;

  color: var(--Text-text-default, #161616);
  /* text-align: right; */

  font-family: var(--Font-Family-font-family-text, "IBMPlexSansArabic");
  font-size: var(--Size-Text-typo-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Text-line-heights-text-md, 24px);
}

:dir(ltr) .title .desc{
  text-align: left;
}
:dir(rtl) .title .desc {
  text-align: right;
}
/* actions */
.actions {
  margin-top: 16px;
  width: 100%;
  display: flex;
}

/* LTR */
:dir(ltr) .actions {
  justify-content: flex-end;
}

/* RTL */
:dir(rtl) .actions {
  justify-content: flex-start;
}


@media (max-width: 768px) {
  .hero {
    padding: var(--Global-spacing-5xl, 40px) var(--Global-spacing-4xl, 32px);
  }

  .desc {
    max-width: 100%;
  }
}
